@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
@import "~antd/dist/antd.css";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

//---------BACKGROUND IMAGE STYLING---------
body {
  background-image: url(../../images/background2.png);
  background-size: cover;
  font-family: "Roboto", sans-serif;
  font-size: large;
}
//---------BACKGROUND IMAGE STYLING---------

//---------TOP BAR STYLING---------

.top-bar {
  background: #e61c5d;
  display: flex;
  justify-content: center;

  .menu {
    background: #e61c5d;
    padding: 0.5rem;
  }

  .top-bar-center {
    flex: auto;
    justify-content: center;
  }

  a {
    color: $white;
  }

  a:hover {
    cursor: pointer;
    color: #facf39;
  }
}
//---------TOP BAR STYLING---------

//---------PLACE TILE STYLING---------
.card {
  padding: 10px;
  outline-style: solid;
  outline-color: #e8d3d9;

  img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-height: 200px;
    object-fit: cover;
  }
  svg.fa-heart {
    color: #c86282b5;
  }
  svg.fa-heart:hover {
    color: #e61c5d;
    cursor: pointer;
  }

  .card-divider {
    color: #ba154a;
  }
}

//---------PLACE TILE STYLING---------

//---------PLACES LIST STYLING---------
.grid-container {
  padding: 1rem;
  .card {
    transition: all 0.5s ease-in-out;
  }
  .card:hover {
    transform: translate3D(0, -1px, 0) scale(1.03);
    transition: all 0.4s ease;
  }
}

form {
  padding: 3.5rem;
}
//---------PLACES LIST STYLING---------

//---------YELP FORM STYLING---------
.button {
  background-color: #eb4a7e;
  border-color: #ffffff;
  border-radius: 50px;
}

.button:hover {
  background-color: #7e0f32;
}

.button:focus {
  outline: none;
  box-shadow: none;
}

.drop-down {
  margin: 0;
  width: 50%;
}
.ant-select {
  margin: 0;
  width: 100%;
}

//---------YELP FORM STYLING---------
