@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

//---------TOP BAR STYLING---------

.top-bar {
  background: #E61C5D;
  display: flex;
  justify-content: center;
  
  .menu {
    background: #E61C5D;
    padding: .5rem;
  }

  .top-bar-center {
    flex: auto;
    justify-content: center;
    
  }

  .top-bar-right {
    // min-width: 00px;
  }

  a {
    color: $white;
  }

  a:hover {
    cursor: pointer;
    color: #FACF39;
  }
}

form {
  padding: 1rem;
}

//---------TOP BAR STYLING---------


//---------PLACE TILE STYLING---------
.card {
  img {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    max-height: 200px;
    object-fit: cover;

  svg:hover {
    color: #FACF39;
  }
}
}


//---------PLACE TILE STYLING---------


//---------PLACES LIST STYLING---------
.grid-container {
  padding: 1rem;

}

//---------PLACES LIST STYLING---------
